@tailwind base;
@tailwind components;
@tailwind utilities;

.text-gradient {
  background: linear-gradient(90deg, #ffffff, #fa5c00 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body {
  position: relative;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background-image: url('./assets/back.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  margin: 0;
  padding: 0;
 }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.container {
  max-width: 100%;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  overflow-x: hidden;
}

body * {
  position: relative;
  z-index: 1;
}
nav a {
  position: relative;
  display: inline-block;
  padding-bottom: 5px; 
  color: white; 
  text-decoration: none; 
}

nav a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px; 
  background: linear-gradient(90deg, #ffffff, #fa5c00 70%); 
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

nav a:hover::after,
nav a.active::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

nav a.active {
  color: #fd7200; 
}
